doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Project Detail
  link(rel='stylesheet', href='stylesheets/detail.css')
// 작업물
section#works.l-section(role='region')
  .l-section-holder
    h2.section-heading(data-animation='fade-up')
      span.secondary Portfolio
      span.primary= name
    #portfolio.section-content.gallery.alternate
      // 포트폴리오 엔트리: 예술의 전당
      article#work1.gallery-item(role='article', data-animation='fade-left')
        figure.gallery-figure(role='group')
          .gallery-image
            img.gallery-image-thumb(src=`/images/${imgurl}`, alt='예술의 전당 랜딩 페이지', aria-describedby='work1Description')
          figcaption.gallery-caption
            h3.gallery-title= name
            ul.gallery-spec
              li.gallery-spec-item
                strong.gallery-spec-key Programming Language
                span.gallery-spec-value= sumlang
              li.gallery-spec-item
                strong.gallery-spec-key Term
                span.gallery-spec-value IE9+
            #work1Description
              p= explanation
            .ui-group
              a.ui-button(role='button', href='./Portfolio-SAC/', target='_blank') Demo
              a.ui-button(role='button', href='https://github.com/findawayer/Portfolio-SAC/tree/gh-pages', target='_blank') Github Repo
        div(id="readme" class="Box Box--condensed instapaper_body md")
          !=markdown
